<!DOCTYPE html>


<title>homepage2</title>


<h1>test time</h1>
<body>



<form method = "post">

  Enter the following information<br>
  <input type="text" name="filename">
  <input type="text" name="item">
  <input type="text" name="item_price">
  <button type="submit">Submit</button>
</form>

<script>
  function getRandomColorHex() {
    const colorLetters = '0123456789ABCDEF';
    let color = '#';
    for (let i = 0; i < 6; i++) {
        color += colorLetters[Math.floor(Math.random() * 16)];
    }
    return color;
}
</script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.6.0/Chart.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <title>My Chart.js Chart</title>
</head>

<canvas id="myChart" width="100" height="25"></canvas>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script>
var ctx = document.getElementById('myChart').getContext('2d');

var labels = [];
"{% for label in labels %}"
labels.push("{{label}}");
"{% endfor %}"

var data = [];
"{% for entry in data %}"
data.push("{{entry}}");
"{% endfor %}"

var randomColors = [];
"{% for entry in labels %}"
randomColors.push(getRandomColorHex());
"{% endfor %}"

var chart = new Chart(ctx, {
    // The type of chart we want to create
    type: 'doughnut',
    // The data for our dataset
    data: {
        labels:labels,
        datasets: [{
            label: 'Potential Payments',
            fill: false,
            borderColor: "rgb(255,255,255)",
            backgroundColor:randomColors,
            data: data
        }]
    },
    // Configuration options go here
    options: {
      legend: {
            display: true
         }
    }
}


);
</script>
<h3 class="text-center name">{{name}} Transactions</h3>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


<!--{% if p %}-->
<!--{% for items in p %}-->
<!--<p>{{items}}</p>-->
<!--{% endfor %}-->
<!--{% endif %}-->

<!--<h3> {{ labels }}</h3>-->
</body>

